[run]
omit =
    */Lib/*
    */data/*
    feedcache/__init__.py
    feedcache/__main__.py
    feedcache/test/__main__.py
branch = true
data_file=tmp/.coverage.db3
plugins =
    coverage_conditional_plugin

[coverage:coverage_conditional_plugin]
rules =
    "platform_system == 'Windows'": windows-nocover
    "platform_system == 'Linux'":   linux-nocover
    "'DBXMIRROR_DEVELOPER_TOKEN' not in os_environ": notoken-nocover

[report]
exclude_also =
    @abstractmethod
    @abc.abstractmethod

[xml]
output=tmp/coverage.xml

[html]
directory=tmp/coverage.html
