[run]
omit =
    */Lib/*
    */data/*
    feedcache/__init__.py
    feedcache/__main__.py
    feedcache/test/__main__.py
    hatch_build.py
branch = true
data_file=tmp/.coverage.db3
plugins =
    coverage_conditional_plugin

[coverage:coverage_conditional_plugin]
rules =
    "platform_system == 'Windows'": windows-nocover
    "platform_system == 'Linux'":   linux-nocover
    "not is_installed('requests')": norequests-nocover
    "os_environ.get('FEEDCACHE_TEST_OFFLINE') == 'true'": offline-nocover
    "os_environ.get('FEEDCACHE_TEST_OFFLINE') == 'true'": offline-nobranch
    # ...though offline-nobranch really means offline-nocover

[report]
exclude_also =
    @abstractmethod
    @abc.abstractmethod

[xml]
output=tmp/coverage.xml

[json]
output=tmp/coverage.json

[html]
directory=tmp/coverage.html
