# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Plugin settings
/externalDependencies.xml
# Manually added
/compiler.xml
/eclipseCodeFormatter.xml
/GitLink.xml
/sonarlint.xml
